## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here

sample_list_1 = random.sample(range(100),k=80)
print(sample_list_1)

[63, 41, 29, 66, 7, 68, 27, 36, 24, 65, 79, 70, 98, 20, 23, 44, 69, 94, 86, 10, 62, 53, 21, 43, 59, 14, 77, 81, 35, 92, 89, 9, 73, 83, 1, 18, 99, 30, 3, 39, 37, 58, 75, 22, 12, 64, 74, 48, 85, 2, 31, 61, 40, 82, 34, 96, 71, 84, 56, 28, 76, 51, 13, 90, 16, 6, 26, 19, 4, 15, 93, 55, 50, 91, 88, 52, 49, 8, 72, 60]

In [3]:
len(sample_list_1)

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [4]:
# Your code here
set1 = set(sample_list_1)

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [5]:
# Your code here

sample_list_2 = []

for i in range(80):
    rand_val = random.randint(0,100)
    sample_list_2.append(rand_val)
print(sample_list_2)

[78, 99, 12, 23, 39, 24, 38, 7, 73, 7, 74, 8, 85, 8, 37, 91, 20, 24, 74, 30, 73, 85, 81, 91, 37, 94, 29, 81, 21, 83, 70, 37, 61, 95, 86, 99, 53, 67, 52, 86, 7, 97, 47, 57, 2, 53, 84, 62, 44, 91, 61, 42, 68, 64, 69, 58, 86, 53, 46, 70, 42, 84, 36, 87, 27, 78, 87, 17, 11, 73, 64, 67, 84, 54, 16, 67, 37, 61, 70, 42]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [6]:
# Your code here

set2 = set(sample_list_2)

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [7]:
# Your code here

set3 = set1.difference(set2)
set3

{1,
 3,
 4,
 6,
 9,
 10,
 13,
 14,
 15,
 18,
 19,
 22,
 26,
 28,
 31,
 34,
 35,
 40,
 41,
 43,
 48,
 49,
 50,
 51,
 55,
 56,
 59,
 60,
 63,
 65,
 66,
 71,
 72,
 75,
 76,
 77,
 79,
 82,
 88,
 89,
 90,
 92,
 93,
 96,
 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [8]:
# Your code here
set4 = set2.difference(set1)
set4

{11, 17, 38, 42, 46, 47, 54, 57, 67, 78, 87, 95, 97}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [9]:
# Your code here
set5 = set1.intersection(set2)
set5

{2,
 7,
 8,
 12,
 16,
 20,
 21,
 23,
 24,
 27,
 29,
 30,
 36,
 37,
 39,
 44,
 52,
 53,
 58,
 61,
 62,
 64,
 68,
 69,
 70,
 73,
 74,
 81,
 83,
 84,
 85,
 86,
 91,
 94,
 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [10]:
# Your code here

if len(set1)+len(set2)-len(set5) == len(set4)+len(set3)+len(set5):
    print("Relatioship between subsets")

Relatioship between subsets

#### Create an empty set called `set6`.

In [11]:
# Your code here
set6 = set()
type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [12]:
# Your code here

set6.update(set3)
set6.update(set5)
print(set6)

{1, 2, 3, 4, 6, 7, 8, 9, 10, 12, 13, 14, 15, 16, 18, 19, 20, 21, 22, 23, 24, 26, 27, 28, 29, 30, 31, 34, 35, 36, 37, 39, 40, 41, 43, 44, 48, 49, 50, 51, 52, 53, 55, 56, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 79, 81, 82, 83, 84, 85, 86, 88, 89, 90, 91, 92, 93, 94, 96, 98, 99}

In [13]:
len(set6)

80

#### Check if `set1` and `set6` are equal.

In [14]:
# Your code here
set6.issuperset(set1)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [15]:
# Your code here

set2.issubset(set1)

False

In [16]:
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [17]:
# Your code here

set7 = set3.union(set4)
set7 = set7.union(set5)
set8 = set1.union(set2)

if set7 == set8:
    print("values are equal")
else:
    print("values are not equal")

values are equal

#### Using the `pop` method, remove the first element from `set1`.

In [18]:
# Your code here
list_set = list(set1) # convert to list 
list_set.pop(0) # pop 1st value in list python indexation
print(list_set) #print list

[2, 3, 4, 6, 7, 8, 9, 10, 12, 13, 14, 15, 16, 18, 19, 20, 21, 22, 23, 24, 26, 27, 28, 29, 30, 31, 34, 35, 36, 37, 39, 40, 41, 43, 44, 48, 49, 50, 51, 52, 53, 55, 56, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 79, 81, 82, 83, 84, 85, 86, 88, 89, 90, 91, 92, 93, 94, 96, 98, 99]

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [19]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69,
                  71, 79, 81, 89, 91, 99]
set_test = set(list_to_remove)
set_test2 = set(list_set)
set_test3 = set_test2.intersection(set_test)

In [20]:
list_remove2 = list(set_test3)
list_remove2

[99, 69, 39, 71, 9, 41, 91, 79, 49, 81, 19, 51, 21, 61, 89, 59, 29, 31]

In [21]:
for i in list_remove2:
    list_set.remove(i)
print(list_set)

[2, 3, 4, 6, 7, 8, 10, 12, 13, 14, 15, 16, 18, 20, 22, 23, 24, 26, 27, 28, 30, 34, 35, 36, 37, 40, 43, 44, 48, 50, 52, 53, 55, 56, 58, 60, 62, 63, 64, 65, 66, 68, 70, 72, 73, 74, 75, 76, 77, 82, 83, 84, 85, 86, 88, 90, 92, 93, 94, 96, 98]